[submodule "3rdparty/cutlass"]
	path = 3rdparty/cutlass
	url = https://github.com/depaulmillz/cutlass.git
	branch = small_n_blockscaled
[submodule "3rdparty/spdlog"]
	path = 3rdparty/spdlog
	url = https://github.com/gabime/spdlog.git
